body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
  }
  
  h1 {
    text-align: center;
  }
  
  p {
    text-align: center;
  }
  
  .board {
    display: grid;
    grid-template-columns: repeat(7, 100px);
    grid-template-rows: repeat(6, 100px);
    gap: 5px;
    justify-content: center;
    /* align-items: center; */
    margin: 0 auto;
}
  .casilla {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border: 2px solid #000;
    font-size: 24px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .casilla:hover {
    background-color: #e0e0e0;
  }